
@{
    ViewBag.Title = "Flights";
}

<h2 style="color: firebrick; border-block-color: bisque ">Flights</h2>
<h3 style="color: cadetblue">You can get here list of flights and their schedule here!</h3>

